syntax: glob
*.pyc
*.pyo
*.pyd
*.db
*~
*/build/*
*/*/build/*
build\*
build/*
*/_build/*
*/dist/*
dist\*
*_hidden*
*.so
*.o
*.class
.spyderproject
.rope*
*.orig
.DS_Store
*.egg-info*
.idea
*prof_data.json*
*debug.log
*errors.log
.coverage
.pytest*
*64.pkg
*.css.map
.vscode/
*-checkpoint.ipynb
*.ipynb_checkpoints
